<div class="row">
	<div class="col-md-6 col-lg-12"><button type="button" class="btn btn-primary btnCenter" (click)="get()">ScoreBoard</button></div>
	<div class="col-md-6 col-lg-6">
		<div class="h1 markCenter">Team 1</div>
		<table class="table">
			<thead>
				<tr>
					<td> Player Id </td>
					<td> Player Name </td>
					<td> Player Score </td>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div class="col-md-6 col-lg-6" >
		<div class="h1 markCenter">Team 2</div>
		<table class="table">
			<thead>
				<tr>
					<td> Player Id </td>
					<td> Player Name </td>
					<td> Player Score </td>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>